.places__paragraph {
  margin: 0 0 26px;
}

.places__paragraph:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .places__paragraph {
    margin-bottom: 25px;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .places__paragraph {
    padding: 0 16px;
  }
}