.cover__link {
  min-height: 740px;
  width: 100%;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover__link::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.5s ease;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__link {
    min-height: 200px;
  }
}