.places {
  max-width: 984px;
  margin: 0 auto;
  padding: 92px 0 92px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places {
      max-width: 928px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places {
      max-width: 720px;
      padding: 88px 0 90px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    max-width: 320px;
    padding: 64px 0 66px;
  }
}