.page {
  background-color: #2A2C2F;
  max-width: 1280px;
  min-width: 320px;
  color: #fff;
}

.header {
  background-color: #2A2C2F;
  padding: 28px 48px 56px 48px;
  display: flex;

}

.header__logo {
  width: 176px;
  height: 52px;
}

.header__lang-link {
  text-decoration: none;
}