.header {
  background-color: #2A2C2F;
  padding: 28px 48px 56px 48px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1184px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header {
    padding-bottom: 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding: 28px 24px 48px 24px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 16px 48px 16px;
  }
}