.intro__text {
  max-width: 690px;
  margin: 0 0 33px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  }

  @media screen and (max-width: 768px) {
    .intro__text {
      max-width: 100%;
    }
  }