.places__place {
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  padding-top: 80px;
}

.places__place:first-of-type {
  padding: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places__place {
    gap: 48px 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places__place {
    grid-template-columns: 340px 1fr;
    gap: 48px 28px;
    padding-top: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places__place {
    grid-template-columns: minmax(288px, 1fr);
    gap: 32px;
    padding-top: 50px;
  }
}