.lead__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 8px 0 0 24px;
}

@media screen and (min-width: 1024px) {
  .lead__caption {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    margin-left: 16px;
  }
}