.header__lang-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: min-content;
  grid-column-gap: 18px;
}